.owners-table {
  width: 100%;
  table-layout: fixed;
}

.owners-table th.mat-header-cell,
.owners-table td.mat-cell {
  padding: 8px;
  border-top: 1px solid #ddd;
  text-align: left;
}

.owners-table tr.mat-header-row,
.owners-table tr.mat-row {
  height: auto;
}

.owners-table .mat-sort-header-container {
  align-items: center;
}

